.statusIcon {
    font-size: 120px;
}

.weatherContent {
    padding-top:40px;
    display:flex;

}
.weatherContent > * {
    flex: 1;
}

.overview {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
}
.statusText {
    padding:10px 0;
    font-size: 30px;
    font-weight: bold;
}
.info {
    padding-left:40px;
}
.wind {
    width:90px;
    display:flex;
    flex-direction:column;
    justify-items:center;
    text-align: center;
}
.wind h2 {
    margin:0;
}
.windIcon {
    padding:5px;
}

.sunrise {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right:30px;
}

.windTemperature {
    display:flex;
    justify-content: center;
}
